h1 {
  border: solid 4px greenyellow;
}

h1,
h2 {
  font-family: sans-serif;
}



nav {
  /*flex-shrink: 0;*/
  border: solid 4px rgb(126, 152, 109);
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  /* background-color: blueviolet; */
  align-content: space-between;
}

li {
  background: white;
  padding: 0;
  text-align: center;
  border: solid 4px blue;
}

a {
  text-decoration: none;
}
.logo_Type {
  border: solid 4px rgb(51, 204, 212);
  /*size: 5%;*/
}
/*
.offlogo {
    border: solid 4px rgb(210, 233, 235);
    list-style-type: none;
    padding: 0;
    margin-top: 100px;
    background-repeat: no-repeat;
    float: center;



}*/

/*.hero_Image {
    background-image: url(/images/Sri_Yantra\ SVG.svg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: solid 4px orangered;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    float: left;

}*/

/*@media only screen and (max-width: 320px) {
  .logo {
    border: solid 4px rgb(44, 248, 78);
    height: 100px;
    width: 100px;
    

  }

  nav {
    border: solid 4px gold;
  }
}*/

@media only screen and (min-width: 220px) {
    .logo {
      border: solid 4px #e92311;
     display: flex;
        width: 100%;
    }
  
    nav {
      border: solid 4px gold;
    }
  }




@media only screen and (min-width: 539px) {
  .logo {
    border: solid 4px rgb(191, 66, 233);
    width: 13%;
  
  }
  h1, h2{
    float: right;
    border: solid 4px red;
}
body {
    grid-gap: 0;
}

  @media only screen and (max-width: 540px) {
    .logo {
      border: solid 4px rgb(39, 188, 26);
      height: 25%;
      width: 25%;
      
    }

    h1, h2{
        float: right;
        border: solid 4px red;
    }
  }
}
