h1 {
  border: solid 4px greenyellow;
}

h1,
h2 {
  font-family: sans-serif;
}

nav {
  /*flex-shrink: 0;*/
  /*border: solid 4px rgb(126, 152, 109);*/
}

ul {
  /*disp
 display: flex;
}

a {
  text-decoration: none;
}
.logo_Type {
  border: solid 4px rgb(51, 204, 212);
  /*size: 5%;*/
}
/*
.offlogo {
    border: solid 4px rgb(210, 233, 235);
    list-style-type: none;
    padding: 0;
    margin-top: 100px;
    background-repeat: no-repeat;
    float: center;



}*/

/*.hero_Image {
    background-image: url(/images/Sri_Yantra\ SVG.svg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: solid 4px orangered;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    float: left;

}*/

/*@media only screen and (max-width: 320px) {
  .logo {
    border: solid 4px rgb(44, 248, 78);
    height: 100px;
    width: 100px;
    

  }

  nav {
    border: solid 4px gold;
  }
}*/

@media only screen and (min-width: 220px) {
  .logo {
    border: solid 4px #e92311;
    display: flex;
    width: 100%;
  }

  nav {
    display: none;
  }
  .hamb-menu {
    /*display: flex;
    padding: 0;
    margin: 0;*/
    border: solid 3px cyan;
    width: 44px;
    height: 5px;
    background-color: rgb(13, 13, 13);
    margin: 3px 0;
    display: flex;
    flex-direction: column;
  }
  #hamb-group {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: solid 4px rgb(0, 255, 153);
    padding-left: 80%;
    margin-bottom: 1%;
  }
}

@media only screen and (min-width: 538px) {
  .logo {
    border: solid 4px rgb(66, 233, 227);
    width: 13%;
  }
  /*h1,
  h2 {
    display: flex;
    flex-direction: wrap;
    border: solid 4px rgb(72, 47, 186);
    
  }*/
  body {
    grid-gap: 0;
  }
  .hamb-menu {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: row;
  }

  @media only screen and (max-width: 539px) {
    .logo {
      border: solid 4px rgb(39, 188, 26);
      height: 25%;
      width: 25%;
    }

    h1,
    h2 {
      border: solid 4px rgb(255, 251, 0);
    }
  }

  .nav_nav {
    border: solid 4px #f0990e;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    word-spacing: 80px;
    
    

  }
}
