
/*
section {
 display: block;
 flex-direction: column;
 float: center;
  border: solid 4px purple;
  margin-top: 20%;

}*/

body {
  font-family: sans-serif;
  width: 100vw;
 
}





/*.hero_Image {
    background-image: url(/images/Sri_Yantra\ SVG.svg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: solid 4px orangered;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    float: left;

}*/



  /*nav {
    border: solid 4px gold;
  }
}*/


@media only screen and (max-width: 508px) and (min-width: 100px) {
  .logo {
    display: block;
    float: left;
    width: 15%;
    background-repeat: no-repeat;
    justify-content: center;
    border: solid 4px #e92311;
  
  }


 nav {  
  float: right;
 }


 #nav-nav li{
 float: right;
  list-style: none;
  padding: 0 15px 0 15px;
  border: solid 4px gold;
 }


 
section {
 display: block;
 flex-direction: column;
 float: center;
  border: solid 4px purple;
  margin-top: 20%;

}

.nav-logo {
  border: solid 4px rgb(234, 0, 255);
 padding: 0;

}

@media only screen and (max-width: 768px) and (min-width: 481px) {

}

}